#top1{text-align: center; font-size: 22px;}
#kursiv{font-style: italic;}
h3{text-align: center;}
.knopka{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 100px;
    background: deepskyblue;
    box-shadow: 0 -3px dodgerblue inset;
    transition: 0.2s;}
.knopka:hover {
    background: magenta;
    box-shadow: none;
    color: black;}
.knopka:active {
    background: yellow;
}
article{
    font-size: 120%;
    padding: 5px;
}
h2{font-size: 1.8em;}

.zmist{font-weight: 600;}

#first{
    background-color: aqua;
    border: 1px solid black;
}
#second{
    background-color: yellow;
    border: 1px solid black;
}
#third{
    background-color: deeppink;
    border: 1px solid black;
}
#forth{
    background-color: blueviolet;
    border: 1px solid black;
}
#fifth{
    background-color: chartreuse;
    border: 1px solid black;
}
#propis{text-transform: uppercase;}

* {
    font-family: 'Poiret One', cursive;
}

