h1{text-align: center; font-size: 22px;}
a{font-style: italic;}
h2{text-align: center;}

.bckcolor{
    background-color: gray;
}

.bckcolor:nth-child(2n){
    background-color: white;
}
.bckcolor2{
    background-color: white;
}

.kursor{cursor: pointer;}
#fon{background-color: pink;}
